#!/bin/bash
exec agave-validator \
--identity /home/{{ sdo_user }}/identity.json \
--vote-account {{ hostvars[inventory_hostname].validator_vote_key }} \
--log /home/{{ sdo_user }}/solana-validator.log \
--ledger /mnt/ledger \
--accounts /mnt/accounts \
{% if nvme_disks_over_800gb | length > 2 %}
--snapshots /mnt/snapshots \
{% endif %}
{% if group_names[0] == "testnet" %}
--entrypoint entrypoint.testnet.solana.com:8001 \
--entrypoint entrypoint2.testnet.solana.com:8001 \
--entrypoint entrypoint3.testnet.solana.com:8001 \
--known-validator dDzy5SR3AXdYWVqbDEkVFdvSPCtS9ihF5kJkHCtXoFs \
--known-validator eoKpUABi59aT4rR9HGS3LcMecfut9x7zJyodWWP43YQ \
--expected-genesis-hash 4uhcVJyU9pJkvQyS88uRDiswHXSCkY3zQawwpjk2NsNY \
--expected-shred-version 9065 \
--expected-bank-hash 4oMrSXsLTiCc1X7S27kxSfGVraTCZoZ7YTy2skEB9bPk \
{% if validator_type == 'Jito' or validator_type == 'Paladin' %}
--relayer-url https://ny.testnet.block-engine.jito.wtf:8100 \
--block-engine-url https://ny.testnet.block-engine.jito.wtf \
--shred-receiver-address 64.130.35.224:1002 \
--tip-payment-program-pubkey GJHtFqM9agxPmkeKjHny6qiRKrXZALvvFGiKf11QE7hy \
--tip-distribution-program-pubkey F2Zu7QZiTYUhPd7u9ukRVwxh7B71oA3NMJcHuCHc29P2 \
--merkle-root-upload-authority  7heQNXEtxSv3wV8sNbuQsDN5xNGbbpLvHGiyXuJxEf7n \
--commission-bps 10000 \
{% endif %}
{% else %}
--entrypoint entrypoint.mainnet-beta.solana.com:8001 \
--entrypoint entrypoint2.mainnet-beta.solana.com:8001 \
--entrypoint entrypoint3.mainnet-beta.solana.com:8001 \
--entrypoint entrypoint4.mainnet-beta.solana.com:8001 \
--entrypoint entrypoint5.mainnet-beta.solana.com:8001 \
--known-validator Certusm1sa411sMpV9FPqU5dXAYhmmhygvxJ23S6hJ24 \
--known-validator 7Np41oeYqPefeNQEHSv1UDhYrehxin3NStELsSKCT4K2 \
--known-validator GdnSyH3YtwcxFvQrVVJMm1JhTS4QVX7MFsX56uJLUfiZ \
--known-validator CakcnaRDHka2gXyfbEd2d3xsvkJkqsLw2akB3zsN1D2S \
--expected-genesis-hash 5eykt4UsFv8P8NJdTREpY1vzqKqZKvdpKuc147dw2N9d \
--expected-shred-version 50093 \
{% if validator_type == 'Jito' or validator_type == 'Paladin' %}
--tip-payment-program-pubkey T1pyyaTNZsKv2WcRAB8oVnk93mLJw2XzjtVYqCsaHqt \
--tip-distribution-program-pubkey 4R3gSG8BpU4t19KYj8CfnbtRpnT8gtk4dvTHxVRwc2r7 \
--merkle-root-upload-authority GZctHpWXmsZC1YHACTGGcHhYxjdRqQvTpYkb9LMvxDib \
--commission-bps {{ hostvars[inventory_hostname].jito_commission }} \
--relayer-url http://{{ hostvars[inventory_hostname].jito_region }}.mainnet.relayer.jito.wtf:8100 \
--block-engine-url https://{{ hostvars[inventory_hostname].jito_region }}.mainnet.block-engine.jito.wtf \
--shred-receiver-address {{ shred_reciever_addresses | selectattr('location', 'equalto', hostvars[inventory_hostname].jito_region) | map(attribute='address') | first }} \
{% endif %}
{% endif %}
--only-known-rpc \
--dynamic-port-range {{ validator_port_start }}-{{ validator_port_end }} \
--rpc-port {{ rpc_port }} \
--no-port-check \
--limit-ledger-size \
--private-rpc \
--snapshot-interval-slots 0 \
--minimal-snapshot-download-speed 20485760
